FileXplorer.pro.user
FileXplorer.pro.user.*
FileXplorer_zh_CN.qm

FileExplorerTest.pro.*
FileExplorerTest.pro.user.*

bin/RUNLOG/*.log
bin/lib/*
bin/lib/*
bin/.gitignore
./*.json
*.idx
build/*
*.pro.user
*.pro.user.*



