FileXplorer.pro.user
FileXplorer.pro.user.*
FileXplorer_zh_CN.qm

FileExplorerTest.pro.*
FileExplorerTest.pro.user.*

bin/AKA_PERFORMERS.txt
bin/PERFORMERS_TABLE.txt
bin/STANDARD_STUDIO_NAME.txt
bin/.gitignore
./*.json
*.idx
build/*
*.pro.user
*.pro.user.*



