./FileExplorerReadOnly.pro.user

./FileExplorerReadOnly.pro.user.*

./FileExplorerReadOnly_zh_CN.qm

./FileExplorerTest.pro.*

./FileExplorerTest.pro.user.*

bin/RUNLOG/*.log
bin/lib/*
./*.json
*.idx
build/*
*.pro.user
*.pro.user.*
FileExplorerReadOnly.pro.user
FileXplorer.pro.user

